/* Popup Styling */

:root{
    --background_color: rgba(79, 79, 79, 0.75);
    --font_color: #ffd43b;
}

#map > div.maplibregl-popup.poi_iframe.maplibregl-popup-anchor-bottom > div.maplibregl-popup-content{
    min-width: 50%;
    min-height: 50%;
}