@import url('./popups/mapPopups.css');
@import url('./popups/iframes/iframes.css');
@import url('./popups/hover/hover_popups.css');
@import url('./popups/wikipedia/wiki.css');
@import url('./mapelements/maplibreStyleBar.css');



#map {
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
}

*:focus {
    outline: 0;
}
