/* Popup Styling */

:root{
    --background_color: rgba(255, 255, 255, 0.178);
}

.maplibregl-popup-content {
    backdrop-filter: blur(0.5em);
    background-color: var(--background_color);
}

.maplibregl-popup-tip{
    display: none;
}

#poi_popup {
    max-height: 100%;
}

#wikipedia_iframe {
    position: relative;
    overflow-y: scroll;
}

#wikimedia_images_row {
    position:relative;
    overflow-y: scroll;
}

#img {
    border-radius: 50%;
}